#!/bin/bash

export PATH={{ ionos_config.ionosctl.install_path }}:$PATH

# --force is required to override the existing config file, if it exists
ionosctl login --force --token '{{ ionos_config.ionosctl.token }}'

ionosctl nic update --datacenter-id  {{ ionos_config.data_center_uuid }}\
 --server-id {{ server_id }}\
 --nic-id {{ nic_id }}\
 --ips '217.154.225.209,217.154.225.193'

# Note: NOPASSWORD rule is needed for the oneadmin to add/delete routes
sudo ip route add 217.154.225.193/32 dev br0

ionosctl logout
