#!/bin/bash

# --force is required to override the existing config file, if it exists
ionosctl login --force --token '{{ ionos_config.ionosctl.token }}'

ionosctl nic update --datacenter-id  {{ ionos_config.data_center_uuid }}\
 --server-id ${IONOS_SERVER_ID}\
 --nic-id ${IONOS_PUBLIC_BRDIGE_NIC_ID}\
 --ips '217.154.225.209'

# Note: NOPASSWORD rule is needed for the oneadmin to add/delete routes
sudo ip route del 217.154.225.193/32 dev br0

ionosctl logout
